
<!--	<div id="fh5co-couple">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">-->
<!--					<h2>Hello!</h2>-->
<!--					<h3>November 28th, 2016 ,-->
<!--						{{result.wedding_place_address}}, {{result.wedding_place}}</h3>-->
<!--					<p>{{result.Wedding_quote}}</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="couple-wrap animate-box">-->

<!--				<div class="couple-half">-->
<!--					<div class="groom">-->
<!--						<img src="{{result.image_groom.url}}" alt="groom" class="img-responsive">-->
<!--					</div>-->

<!--					<div class="desc-groom">-->
<!--						<h3>{{result.name_of_groom}}</h3>-->
<!--						<p>{{result.address_of_groom}}</p>-->
<!--						<p>{{result.place_of_groom}}</p>-->
<!--					</div>-->

<!--				</div>-->

<!--				<p class="heart text-center"><i class="icon-heart2"></i></p>-->
<!--				<div class="couple-half">-->
<!--					<div class="bride">-->
<!--						<img src="{{result.image_bride.url}}" alt="groom" class="img-responsive">-->
<!--					</div>-->
<!--					<div class="desc-bride">-->
<!--						<h3>{{result.name_of_bride}}</h3>-->
<!--                        <p>{{result.address_of_bride}}</p>-->
<!--						<p>{{result.place_of_bride}}</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->



