{% extends "base.html" %}
{% block content %}
<h1> hello welcome to {{name}}</h1>
<form action="add" method="post">
    {% csrf_token %}
    number1<input type="text" name="num1"><br>
    number2<input type="text" name="num2"><br>
    submit<input type="submit" value="sub">
</form>
{% endblock %}



<!---<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new event</title>
</head>
<body style= "background-color:#6e9eeb">
<h1> hello {{name}} </h1>
<p>Google LLC is an American multinational technology company that specializes in Internet-related services and products,
    which include a search engine, online advertising, cloud computing, software, artificial intelligence,[10] quantum computing,[11] and hardware.
    It has been referred to as the "most powerful company in the world" and one of the world's most valuable brands due to its market dominance, data collection,
    and technological advantages in the area of artificial intelligence.[12][13][14] It is considered one of the Big Five American information technology companies,
    alongside Amazon, Apple, Meta, and Microsoft.</p>
</body>
</html> -->
