{% extends 'base.html' %}
{% block content %}
{% load static %}

   {% for result in results %}
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({% static 'images/bg.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>{{result.name_of_groom}} & {{result.name_of_bride}}</h1>
							<h2>We Are Getting Married</h2>
							<div class="simply-countdown simply-countdown-one"></div>
							<p><a href="#" class="btn btn-default btn-sm">Save the date</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello!</h2>
					<h3>{{result.wedding_date|date:"jS M Y"}},
						{{result.wedding_place_address}} , {{result.wedding_place}}</h3>
					<p>{{result.Wedding_quote}}</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">

				<div class="couple-half">
					<div class="groom">
						<img src="{{result.image_groom.url}}" alt="groom" class="img-responsive">
					</div>

					<div class="desc-groom">
						<h3>{{result.name_of_groom}}</h3>
						<p>{{result.address_of_groom}}</p>
						<p>{{result.place_of_groom}}</p>
					</div>

				</div>

				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="{{result.image_bride.url}}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>{{result.name_of_bride}}</h3>
                        <p>{{result.address_of_bride}}</p>
						<p>{{result.place_of_bride}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endfor %}
<!--    {% include 'check.html' %}-->

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url({% static 'images/bg2.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special Events</span>
					<h2>Wedding Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1" >
						{% for data in event %}
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box"style="max-height:450px;min-height:450px">
									<h3>Main Ceremony</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>{{data.ceremony_from_time}} </span><p>&</p>
										<span>{{data.ceremony_to_time}} </span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>{{data.date_ceremony|date:"jS M Y"}}</span>
										<span>{{data.date_ceremony|date:" D "}}</span>
									</div>
									<p> {{data.desc_party| truncatewords:60}}</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box"style="max-height:450px;min-height:450px">
									<h3>Wedding Party</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>{{data.party_from_time}} </span><p>&</p>
										<span>{{data.party_to_time}}  </span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>{{data.date_party|date:"jS M Y"}}</span>
										<span>{{data.date_party|date:" D "}}</span>
									</div>
									<p>{{data.desc_ceremony| truncatewords:60}}</p>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--.........................................................-->

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>We Love Each Other</span>
					<h2>Our Story</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					{% for values in story %}
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url({{values.Image_of_first_meet.url}});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First We Meet</h3>
									<span class="date">{{values.First_meet_date}}</span>
								</div>
								<div class="timeline-body">
									<p>{{values.Describe_first_meet}}</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url({{values.Image_of_first_date.url}});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First Date</h3>
									<span class="date">{{values.First_date}}</span>
								</div>
								<div class="timeline-body">
									<p>{{values.Describe_first_date}}</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url({{values.Image_after_in_a_Relationship.url}});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">In A Relationship</h3>
									<span class="date">{{values.Relationship_date}}</span>
								</div>
								<div class="timeline-body">
									<p>{{values.Say_something_about_Relationship}}</p>
								</div>
							</div>
						</li>
			    	</ul>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Wedding Gallery</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
                       {% for photos in gallery %}
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({{ photos.photo_1.url }}); ">
						<a href="{{ photos.photo_1.url }}">

							<div class="case-studies-summary">
								<span>14 Photos</span>
								<h2>{{photos.Gallery_name}}</h2>
							</div>
						</a>
					    </li>
                        {% endfor %}
<!--					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-2.jpg' %}); ">-->
<!--						<a href="#" class="color-2">-->
<!--							<div class="case-studies-summary">-->
<!--								<span>30 Photos</span>-->
<!--								<h2>Timer starts now!</h2>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->


<!--					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-3.jpg' %}); ">-->
<!--						<a href="#" class="color-3">-->
<!--							<div class="case-studies-summary">-->
<!--								<span>90 Photos</span>-->
<!--								<h2>Beautiful sunset</h2>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-4.jpg' %}); ">-->
<!--						<a href="#" class="color-4">-->
<!--							<div class="case-studies-summary">-->
<!--								<span>12 Photos</span>-->
<!--								<h2>Company's Conference Room</h2>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->

<!--						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-5.jpg' %}); ">-->
<!--							<a href="#" class="color-3">-->
<!--								<div class="case-studies-summary">-->
<!--									<span>50 Photos</span>-->
<!--									<h2>Useful baskets</h2>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-6.jpg' %}); ">-->
<!--							<a href="#" class="color-4">-->
<!--								<div class="case-studies-summary">-->
<!--									<span>45 Photos</span>-->
<!--									<h2>Skater man in the road</h2>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->

<!--						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-7.jpg' %}); ">-->
<!--							<a href="#" class="color-4">-->
<!--								<div class="case-studies-summary">-->
<!--									<span>35 Photos</span>-->
<!--									<h2>Two Glas of Juice</h2>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->

<!--						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-8.jpg' %}); ">-->
<!--							<a href="#" class="color-5">-->
<!--								<div class="case-studies-summary">-->
<!--									<span>90 Photos</span>-->
<!--									<h2>Timer starts now!</h2>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/gallery-9.jpg' %}); ">-->
<!--							<a href="#" class="color-6">-->
<!--								<div class="case-studies-summary">-->
<!--									<span>56 Photos</span>-->
<!--									<h2>Beautiful sunset</h2>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url({% static 'images/bg3.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-users"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="600" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Estimated Guest</span>

							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-user"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">We Catter</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-calendar"></i>
								</span>
								<span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Events Done</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="2345" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Hours Spent</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Best Wishes</span>
						<h2>Friends Wishes</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="{% static 'images/couple-1.jpg' %}" alt="user">
										</figure>
										<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
										<blockquote>
											<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics"</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="{% static 'images/couple-2.jpg' %}" alt="user">
										</figure>
										<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
										<blockquote>
											<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, at the coast of the Semantics, a large language ocean."</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="{% static 'images/couple-3.jpg' %}" alt="user">
										</figure>
										<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
										<blockquote>
											<p>"Far far away, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-services" class="fh5co-section-gray">
		<div class="container">

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>We Offer Services</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-calendar"></i>
						</span>
						<div class="feature-copy">
							<h3>We Organized Events</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-image"></i>
						</span>
						<div class="feature-copy">
							<h3>Photoshoot</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-video"></i>
						</span>
						<div class="feature-copy">
							<h3>Video Editing</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

				</div>

				<div class="col-md-6 animate-box">
					<div class="fh5co-video fh5co-bg" style="background-image: url(images/img_bg_2.jpg); ">
						<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
						<div class="overlay"></div>
					</div>
				</div>
			</div>


		</div>
	</div>


	<div id="fh5co-started" class="fh5co-bg" style="background-image:url({% static 'images/img_bg_4.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Are You Attending?</h2>
					<p>Please Fill-up the form to notify you that you're attending. Thanks.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="name" class="form-control" id="name" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">I am Attending</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>

	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="{% static 'js/simplyCountdown.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	<script>
    var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
</script>

	</body>
</html>
{% endblock %}



