{% extends 'base.html' %}
{% block content %}

{% load static %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'images/bg12.jpg' %});">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Story</h1>
							<h2> Lets rewind the  <a href="http://freehtml5.co" target="_blank">memories</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
   {% for data in detail %}
	<div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello!</h2>
					<h3>{{data.wedding_date|date:"jS M Y"}},{{data.wedding_place_address}} , {{data.wedding_place}}</h3>
					<p>We invited you to celebrate our wedding</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="{{ data.image_groom.url }}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3><b>{{ data.name_of_groom }}</b></h3>
						<p style="font-family: Lucida Handwriting;color:#070708"> {{ data.address_of_groom }}</p>
						<p style="font-family: Lucida Handwriting;color:#070708"> {{ data.place_of_groom }}</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="{{ data.image_bride.url }}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3><b>{{ data.name_of_bride }}</b></h3>
						<p style="font-family: Lucida Handwriting;color:#070708"> {{ data.address_of_bride }}</p>
						<p style="font-family: Lucida Handwriting;color:#070708"> {{ data.place_of_bride }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endfor %}

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>We Love Each Other</span>
					<h2>Our Story</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					{% for values in story %}
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url({{values.Image_of_first_meet.url}});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First We Meet</h3>
									<span class="date">{{values.First_meet_date}}</span>
								</div>
								<div class="timeline-body">
									<p>{{values.Describe_first_meet}}</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url({{values.Image_of_first_date.url}});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First Date</h3>
									<span class="date">{{values.First_date}}</span>
								</div>
								<div class="timeline-body">
									<p>{{values.Describe_first_date}}</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url({{values.Image_after_in_a_Relationship.url}});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">In A Relationship</h3>
									<span class="date">{{values.Relationship_date}}</span>
								</div>
								<div class="timeline-body">
									<p>{{values.Say_something_about_Relationship}}</p>
								</div>
							</div>
						</li>
			    	</ul>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


<!--	<footer id="fh5co-footer" role="contentinfo">-->
<!--		<div class="container">-->
			<!-- <div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>The Company</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#">Learn More</a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Deelopers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div> -->


<!--		</div>-->
<!--	</footer>-->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>

	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
{% endblock %}